@tailwind base;
@tailwind components;
@tailwind utilities;

#head {
    font: 900 200px "Poppins", sans-serif;
    background-image: url("giphy.gif");
    background-size: cover;
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
    color:transparent;
    text-align: center;
}

#auth{
    font: 900 70px "Poppins", sans-serif;
    background-image: url("giphy.gif");
    background-size: cover;
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
    color:transparent;
    text-align: center;
}

.sigh{
    background-image: url("giphy.gif");
    background-size: cover;
    background-position: center;
    background-clip: button;
    -webkit-background-clip: button;
    color:white;
    text-align: center;
}

.divulge{
        font: 900 20px "Poppins", sans-serif;
    background-image: url("giphy.gif");
    background-size: cover;
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
    color:transparent;
    text-align: center;
}

.signin{
    font: 900 15px "Poppins", sans-serif;
    background-image: url("giphy.gif");
    background-size: cover;
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
    color:transparent;
    text-align: center;
}
