@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    height: 100vh;
}
.ql-container{
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
}
.ql-editor{
    font-size: 1.05rem;
    background-color: #f3f4f6c7;
    color: #262627;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

.post-content p {
    margin-bottom: 0.5rem;
  }
  
  .post-content h1 {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: sans-serif;
    margin: 1.5rem 0;
  }
  
  .post-content h2 {
    font-size: 1.4rem;
    font-family: sans-serif;
    margin: 1.5rem 0;
  }
  
  .post-content a {
    color: rgb(73, 149, 199);
    text-decoration: none;
  }
  
  .post-content a:hover {
    text-decoration: underline;
  }
  
  .dark .post-content a {
    color: red;
  }

.ql-toolbar{
    background-color: #f3f4f6e1;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

#head {
    background-image: url("giphy.gif");
    background-size: cover;
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
    color:transparent;
    text-align: center;
}


#auth{
    background-image: url("giphy.gif");
    background-size: cover;
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
    color:transparent;
    text-align: center;
}

.sigh{
    background-image: url("giphy.gif");
    background-size: cover;
    background-position: center;
    background-clip: button;
    -webkit-background-clip: button;
    color:white;
    text-align: center;
}

.divulge{
    background-image: url("giphy.gif");
    background-size: cover;
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
    color:transparent;
    text-align: center;
}


.giff{
    background-image: url("giphy.gif");
    background-size: cover;
    background-position: center;
}


.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}
