@tailwind base;
@tailwind components;
@tailwind utilities;

p {
    font: 900 200px "Poppins", sans-serif;
    background-image: url("giphy.gif");
    background-size: cover;
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
    color:transparent;
    text-align: center;
}